.comments {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 2rem;
  position: relative;

  &__header {
    align-items: center;
    border-bottom: 1px solid black;
    display: flex;

    h2 {
      flex-grow: 1;
    }
  }

  &__body {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__footer {
    border-top: 1px solid black;
  }
}

.comment-form {
  align-items: baseline;
  display: flex;

  &__input {
    flex-grow: 1;
  }
}
